.page-container{
  background-color: rgb(10, 115, 220);
  height: 100vh;
  width: 100%;
}
  .main-calc{
  width: 90%;

}

.sub-cont{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .main-calc{
  width: 38%;
}
}

.calc{
    padding: 15px;
  border-radius: 5px;
}

p,select,input,textarea,button{
  font-weight: bold !important;
}

textarea{
  resize: none !important;
}